body {
  background-color: black;
  color: #7DF9FF; /* Electric blue */
}

a, p, h1, h2, h3, h4, h5, h6 {
  color: #7DF9FF; /* Electric blue */
}

.border {
  border: 2px solid #7DF9FF; /* Electric blue */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #7DF9FF; /* Electric blue */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

input[type="text"], input[type="password"], input[type="email"] {
  width: calc(100% - 24px); /* Adjust width to account for padding and border */
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #7DF9FF; /* Electric blue */
  border-radius: 4px;
  background-color: black;
  color: #7DF9FF; /* Electric blue */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  outline: none;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

button {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #7DF9FF; /* Electric blue */
  border-radius: 4px;
  background-color: black;
  color: #7DF9FF; /* Electric blue */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"] {
  flex: 1;
  margin-right: 10px;
}

.form-group button {
  flex-shrink: 0;
}
input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder {
  color: #7DF9FF; /* Electric blue */
  opacity: 0.7; /* Slightly transparent */
}